@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;

    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

input, select{
    font: 400 14px Roboto, sans-serif;
    width: 100%;
    height: 25px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 12px;
    transition: border 0.4s;
}

input:hover, input:focus, select:hover, select:focus{
    border: 1.4px solid #9c9ca1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    list-style: none;
    margin-bottom: 16px;
}

.container div{
    background: #FFF;
    padding: 16px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0 , 0, 0.1);
    transition: box-shadow 0.4s, transform 0.2s ease-out;
}

.container div:hover{
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.3);
    transform: scale(1.02);
}

.container div strong{
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

input:read-only{
    background: #ebebeb;
}

.mensagem-erro{
    font-size: 10px;
    color: #e02041;
    display: none;
}

.mensagem-alerta{
    font-size: 10px;
    color: #b9ae08;
    display: none;
}